*,
*::before,
*::after {
  box-sizing: border-box; 
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}


.viewport {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
}


.card {
  width: 400px;
  height: 300px;
  background: #1426a6; 
  padding: 30px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}


.row {
  display: flex;
  justify-content: space-between; 
}

.row--top {
  align-items: flex-start;
}

.row--bottom {
  align-items: flex-end;
}


.group {
  display: flex;
  gap: 22px; 
}


.shape {
  width: 60px;
  height: 60px;
}

.shape--square {
  background: #77d6e6;
}

.shape--circle {
  background: #d95aaa; 
  border-radius: 50%;
}
